body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center; /* centraliza verticalmente */
}

header img {
  width: 100px; 
  height: auto; /* garante que a imagem não ultrapasse a altura do contêiner */
}


.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 60vh; /* altura ajustada - 60% da altura da tela */
}

.parallax-container .parallax video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

.parallax-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
}
